[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pex = "*"

[packages]
lifxlan = "*"
pyaudio = "*"
numpy = "*"
flask = "*"
adafruit-circuitpython-bmp280 = "*"

[requires]
python_version = "3.7"
